<h2><%= @restaurant.name %></h2>

<div>
  <p>Category: <%= @restaurant.category %></p>
  <p>Address: <%= @restaurant.address %></p>
  <p>Phone: <%= @restaurant.phone_number %></p>
</div>

<%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>

<h4>Reviews</h4>
<ul>
  <% @restaurant.reviews.each do |review| %>
  <li><%= review.content%> - <%= "*" * review.rating %></li>
  <% end %>
</ul>

